@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url('../font/SourceHanSansCN-Regular.ttf') format('truetype'),
       url('../font/SourceHanSansCN-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
