@font-face {
  font-family: 'NotoSansTC-Regular';
  src: url('../font/NotoSansTC-Regular.ttf') format('truetype'),
       url('../font/NotoSansTC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
